.com_footer {
  font-size: 12px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .com_footer_label {
    color: #777;
    text-align: center;
    a {
      color: inherit;
    }
  }
}